@keyframes rotateCharBig {
  0% {
    transform: translateX(-70px) translateY(-100px) rotateY(-400deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotateY(0deg);
    opacity: 1;
  }
}

.rotateBig {
  display: inline-block;
  opacity: 0;
  animation: rotateCharBig var(--ease-out-quart);
  animation-fill-mode: forwards;
  transform: translateX(-70px) translateY(-100px) rotateY(-400deg);
}

@keyframes rotateChar {
  0% {
    transform: translateY(50px) rotateY(-200deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
    opacity: 1;
  }
}

.rotate {
  display: inline-block;
  opacity: 0;
  animation: rotateChar var(--ease-out-quart);
  animation-fill-mode: forwards;
  transform: translateY(50px) rotateY(-200deg);
}
