.answerWrapper {
  position: relative;
}

.answerButton {
  position: absolute;
  width: 6rem;
  height: 6rem;
  transform: rotate(90deg);
  border: 0;
  border-radius: 50%;
  right: 20rem;
  bottom: 4rem;
  background: var(--orange);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  writing-mode: initial;
  font-family: var(--mincho);
}

.answerButton:before {
  content: '';
  display: block;
  position: absolute;
  width: 80vh;
  height: 0.2rem;
  right: 6rem;
  bottom: 50%;
  z-index: -1;
  background: var(--purple);
  pointer-events: none;
}

.input {
  position: absolute;
  border: 0;
  width: 16em;
  height: 6rem;
  transform: rotate(90deg);
  right: 0;
  top: 16rem;
  margin-top: 20rem;
  padding: 1.4rem;
  background: transparent;
  font-size: 2.2rem;
  font-weight: bold;
  overflow: hidden;
  color: var(--purple);
  font-family: var(--mincho);
  word-wrap: break-word;
  writing-mode: initial;
  text-align: center;
  letter-spacing: 0.5rem;
}

.input:focus {
  outline: none;
}
