.input {
  position: absolute;
  right: 14rem;
  bottom: 35vh;
  transform: rotate(90deg);
  background: rgba(var(--white), 0);
  border:solid 0px ;
  height: 6rem;
  padding: 1em;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  overflow: hidden;
  color: var(--purple);
  font-family: var(--mincho);
  word-wrap: break-word;
  writing-mode: initial;
}

.input:focus {
  outline: none;
}

.answerButton {
  position: absolute;
  right: 31.5rem;
  bottom: 12vh;
  width: 70px;
  height: 70px;
  background: var(--orange);
  border: 0px;
  border-radius: 50%;
  color: white;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--mincho);
  writing-mode: initial;
  transform: rotate(90deg);
  z-index: auto;
  cursor: pointer;
}

@keyframes animAnswerLine {
  0% { height: 0; }
  100% { height: 70vh; }
}

.answerLine {
  position: absolute;
  width: 1px;
  right: 50%; /* TODO: 調整 */
  border: 0;
  bottom: calc(8vh + 55px);
  background: var(--purple);

  animation: animAnswerLine 0.96s var(--ease-out-quad);;
  animation-fill-mode: forwards;
}

/*
.answerButton:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 70vh;
  background: var(--purple);
  bottom: 3.5rem;
  left: -70vh;
  pointer-events: none;
}
*/

@media (max-height: 800px), (max-width: 1000px) {
  .input {
    bottom: 33vh;
    right: 9rem;
    font-size: 1.5rem;
  }

  .answerButton{
    right: 22rem;
    bottom: 8vh;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    font-size: 1.2rem;
  }

  /*
  .answerButton:before {
    width: 68vh;
    bottom: 2.75rem;
    left: -68vh;
  }
*/
}

@media (max-device-width: 550px) {
  .input {
    bottom: 32vh;
    right: 6rem;
    font-size: 4rem;
  }

  .answerButton{
    right: 40rem;
    bottom: 8vh;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 4rem;
  }

  /*
  .answerButton:before {
    height: 2px;
    width: 60vh;
    bottom: 7.4rem;
    left: -60vh;
  }
  */
}
