.answerWrapper {
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@keyframes animAnswer {
  0% {
    clip-path: circle(0px at 50% 86vh);
    background: var(--orange);
  }
  100% {
    clip-path: circle(140vh at 50% 86vh);
    background: var(--pink);
  }
 }

.answer {
  position: absolute;
  margin: auto;
  right: 10%;
  width: 80%;
  height: 95vh;
  bottom: 3vh;
  border-radius: 40px;

  clip-path: circle(0px at 50% 86vh);
  background: var(--orange);
  animation: animAnswer 1.8s var(--ease-out-quart);
  animation-fill-mode: forwards;
}

@keyframes animAnswerFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
 }

.judgment {
  position: absolute;
  top: calc(40% - 8.5rem);
  right: calc(50% - 8.5rem);
  color: var(--white);
  font-size: 5rem;
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  text-align: center;
  line-height: calc(17rem - 1px);

  opacity: 0;
  animation: animAnswerFade 0.23s var(--ease-out-quart);
  animation-delay: 0.23s;
  animation-fill-mode: forwards;
}

.placeNameWrapper {
  margin-top: 20vh;
  margin-right: 20%;
  width: 20%;
  height: 60vh;

  opacity: 0;
  animation: animAnswerFade 0.46s var(--ease-out-quart);
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.currentQuiz {
  color: var(--white);
  font-size: 3rem;
}

.placeName {
  width: calc(3rem + 12%);
  height: 100%;
  margin-right: 10%;
}

.kanji {
  padding: 10% 0;
  color: var(--white);
  font-size: 3rem;
}

.kana {
  color: var(--white);
  font-size: 2rem;
}

.description {
  color: var(--white);
  font-size: 1.8rem;
  padding-top: 20vh;
}

.map {
  position: absolute;
  top: 20vh;
  right: 65%;
  width: 30%;

  opacity: 0;
  animation: animAnswerFade 0.46s var(--ease-out-quart);
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.nextButton {
  position: absolute;
  bottom: 9vh;
  right: calc(50% - 35px);
  width: 70px;
  height: 70px;
  background: var(--white);
  border-radius: 50%;
  border: 0;
  color: var(--pink);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: var(--mincho);
  text-align: center;
  line-height: 6.8rem;
  z-index: auto;
  cursor: pointer;
  transform: rotate(90deg);
  writing-mode: initial;

  opacity: 0;
  animation: animAnswerFade 0.5s var(--ease-out-quart);
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@media (max-height: 800px), (max-width: 1000px) {
  .answer {
    right: 5%;
    width: 90%;
  }

  .judgment {
    top: calc(40% - 7.5rem);
    right: calc(50% - 7.5rem);
    font-size: 4rem;
    width: 15rem;
    height: 15rem;
    line-height: calc(15rem - 1px);
  }

  .placeNameWrapper {
    margin-right: 15%;
  }

  .nextButton {
    bottom: 5vh;
    right: calc(50% - 30px);
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    line-height: 5.3rem;
  }
}

@media (max-device-width: 550px) {
  .answer {
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 89vh;
    border-radius: 0;
  }

  .judgment {
    top: calc(16% - 5rem);
    right: calc(50% - 5rem);
    font-size: 2.5rem;
    border: 3px solid var(--white);
    width: 10rem;
    height: 10rem;
    line-height: calc(10rem - 3px);
  }

  .placeNameWrapper {
    margin-top: 27vh;
    margin-right: 20%;
    width: 30%;
    height: 42vh;
  }

  .currentQuiz {
    font-size: 2rem;
  }

  .kana {
    font-size: 1.5rem;
  }

  .description {
    padding: 10% 5% 0 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .map {
    display: none;
  }

  .nextButton {
    position: absolute;
    bottom: 9vh;
    right: calc(50% - 35px);
    width: 70px;
    height: 70px;
    background: var(--white);
    border-radius: 50%;
    color: var(--pink);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: var(--mincho);
    text-align: center;
    line-height: 6.8rem;
    z-index: auto;
  }
}

@media (max-device-width: 550px) {
  .nextButton {
    right: calc(50% - 40px);
    bottom: 8vh;
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    line-height: 52px;
  }
}
