.canyouread {
  position: relative;
  height: 100vh;
  width: 700px;
  margin: 0 auto;
  background: var(--light-blue);
}

.header {
  /* width: 150px; */
}

@media (max-height: 800px), (max-width: 1000px) {
  .canyouread {
    width: 500px;
  }
}

@media (max-device-width: 550px) {
  .canyouread {
    width: 100rem;
  }
}
