.canyouread {
  position: relative;
  height: 100vh;
  width: 700px;
  margin: 0 auto;
}

.canyouread:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../images/circle-clipping-35.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blur {
  width: 10%;
  height: 100vh;
  position: absolute;
  background: var(--blur);
  box-shadow:0 0 300px 220px var(--blur);
  right: calc(50% - 10%);
  z-index: -1000;
}

@media (max-height: 800px), (max-width: 1000px) {
  .canyouread {
    width: 500px;
  }
}

@media (max-device-width: 550px) {
  .canyouread {
    width: 100vw;
    height: 100vh;
  }
}
