html {
  width: 100%;
  font-size: 62.5%;
  writing-mode: vertical-rl;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  font-family: var(--mincho);
  display: flex;
  align-items: center;
}

a:link, a:visited, a:hover, a:active {
  color: var(--gray);
  text-decoration: none;
}
