html {
  width: 100%;
  font-size: 62.5%;
  writing-mode: vertical-rl;
  background: var(--light-blue);
  background: url('../images/waves.png');
  background-size: calc(587px / 6) calc(294px / 6);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  font-family: var(--mincho);
  display: flex;
  align-items: center;
}

a:link, a:visited, a:hover, a:active {
  color: var(--gray);
  text-decoration: none;
}
