.hintWrapper {
  position: relative;
  padding-right: 20rem;
}

.hintButton {
  position: absolute;
  width: 3rem;
  height: 3rem;
  bottom: 6rem;
  border: 0;
  border-radius: 50%;
  margin: calc(100vh - 14rem) calc((14rem - 5rem)/2) auto;
  padding: 0;
  font-size: 2rem;
  background: var(--purple);
  color: var(--white);
  cursor: pointer;
}

.hint {
  display: flex;
  position: absolute;
  width: 12rem;
  bottom: 0;
  left: 0;
  background: var(--purple);
  color: var(--white);
  font-size: 1.8rem;
}

.message {
  padding: 5rem;
}

.passButton {
  position: relative;
  border: 0;
  padding-bottom: 9rem;
  background: transparent;
  font-family: var(--mincho);
  color: var(--white);
  cursor: pointer;
}

.passButton:before {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--white);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 7rem;
  right: calc(50% - 10px);
  cursor: pointer;
}

.passButton:after {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--purple);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: calc(7rem + 3px);
  right: calc(50% - 10px);
  cursor: pointer;
}
