.hintButton {
  position: absolute;
  right: 56rem;
  bottom: 14vh;
  width: 30px;
  height: 30px;
  background: var(--light-purple);
  border: 0px;
  border-radius: 30px;
  color: var(--white);
  padding: 0;
  cursor: pointer;
}

.hintButton:after {
  content: 'ヒントを表示';
  color: var(--purple);
  font-size: 12px;
  position: absolute;
  right: 0rem;
  bottom: 4vh;
  display: none;
}

.hintButton:hover:after {
  display: block;
}

.hint {
  display: flex;
  position: absolute;
  width: 12rem;
  bottom: 0;
  left: 0;
  background: var(--purple);
  color: var(--white);
  font-size: 1.8rem;
}

.message {
  padding: 6vh 5rem 7vh;
}

.passButton {
  position: relative;
  border: 0;
  padding-bottom: 10vh;
  background: transparent;
  font-family: var(--mincho);
  color: var(--light-purple);
  cursor: pointer;
}

.passButton:before {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--light-purple);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 8vh;
  right: calc(50% - 10px);
  cursor: pointer;
}

.passButton:after {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--purple);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: calc(8vh + 3px);
  right: calc(50% - 10px);
  cursor: pointer;
}

.passButton:hover {
  color: var(--white);
}

.passButton:hover:before {
  border-top: 10px solid var(--white);
}

@media (max-height: 800px), (max-width: 1000px) {
  .hintButton {
    right: 40rem;
    bottom: 10vh;
    width: 23px;
    height: 23px;
    border-radius: 23px;
  }
}

@media (max-device-width: 550px) {
  .hintButton{
    right: 76rem;
    bottom: 10vh;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 3rem;
  }
}
