@keyframes animHintButton {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hintButton {
  position: absolute;
  left: 7.5rem;
  bottom: 14vh;
  width: 30px;
  height: 30px;
  background: var(--purple);
  border: 0px;
  border-radius: 50%;
  color: var(--light-purple);
  padding: 0;
  cursor: pointer;

  opacity: 0;
  animation: animHintButton 0.63s var(--ease-out-quart);
  animation-delay: 0.96s;
  animation-fill-mode: forwards;
}

.hintButton:hover {
  color: var(--white);
}

.hintButton:after {
  content: 'ヒントを表示';
  color: var(--purple);
  font-size: 12px;
  position: absolute;
  right: 0rem;
  bottom: 4vh;
  opacity: 0;
}

.hintButton:hover:after {
  opacity: 0;
  animation: animTransparent 0.63s var(--ease-out-quart);
  animation-fill-mode: forwards;
}

@keyframes animHintExpand {
  0% { clip-path: circle(0px at 50% 240px); }
  100% { clip-path: circle(240px at 50% 240px); }
}

.hint {
  display: flex;
  position: absolute;
  width: 12rem;
  bottom: 0;
  left: 3rem;
  background: var(--purple);
  color: var(--white);
  font-size: 1.8rem;

  clip-path: circle(0px at 50% 240px);
  animation: animHintExpand 1.03s var(--ease-out-quart);
  animation-fill-mode: forwards;
}

.message {
  padding: 6vh 5rem 0;
}

@keyframes animTransparent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.passButton {
  position: relative;
  border: 0;
  padding: 10vh 0 10vh;
  background: transparent;
  font-family: var(--mincho);
  color: var(--light-purple);
  cursor: pointer;

  animation: animTransparent 1.03s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.passButton:before {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--light-purple);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 8vh;
  right: calc(50% - 10px);
  cursor: pointer;
}

.passButton:after {
  content: '';
  display: block;
  position: absolute;
  border-top: 10px solid var(--purple);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: calc(8vh + 3px);
  right: calc(50% - 10px);
  cursor: pointer;
}

.passButton:hover {
  color: var(--white);
}

.passButton:hover:before {
  border-top: 10px solid var(--white);
}

@media (max-height: 800px), (max-width: 1000px) {
  .hintButton {
    left: 6.8rem;
    bottom: 10vh;
    width: 23px;
    height: 23px;
  }

  .hint {
    width: 11rem;
    bottom: 0;
    left: 2rem;
    font-size: 1.6rem;
  }

  .message {
    padding: 6vh 4.7rem 7vh;
  }
}

@media (max-device-width: 550px) {
  .hintButton {
    right: 76rem;
    bottom: 10vh;
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }

  .hint {
    width: 25rem;
    left: 0;
    font-size: 4rem;
  }

  .message {
    padding: 15vh 10.4rem 10vh;
  }
}
