.level {
  margin-top: 19rem;
  padding: 0 5rem;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  color: var(--blue);
}

@media (max-height: 800px), (max-width: 1000px) {
  .level {
    margin-top: 15vh;
    padding: 0 2.5rem;
    font-size: 2.3rem;
  }
}

@media (max-device-width: 550px) {
  .level {
    margin-top: 15vh;
    padding: 0 20rem;
    font-size: 4.5rem;
  }
}
