.loadingWrapper {
  position: fixed;
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);
}

.loadingIcon {
  width: 5rem;
}

.title {
  font-size: 5.5rem;
  letter-spacing: 0.5rem;
  color: var(--blue);
  margin-top: 10vh;
  font-weight: normal;
}

@keyframes startButton {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.startButton {
  position: absolute;
  transform: rotate(90deg);
  bottom: 12vh;
  right: calc(50% - 35px);
  width: 70px;
  height: 70px;
  background: var(--red);
  border-radius: 50%;
  border: 0;
  color: var(--white);
  font-size: 1.8rem;
  font-family: var(--mincho);
  z-index: auto;
  cursor: pointer;
  writing-mode: initial;
  padding: 0;

  animation: startButton 1.73s;
  animation-delay: 0.63s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.buttonWave {
  position: absolute;
  width: 70px;
  height: 70px;
  right: calc(50% - 35px);
  top: calc(50% - 35px);
  border: var(--red) 1px solid;
  background: transparent;
  border-radius: 50%;
}

@keyframes startButtonText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.buttonText {
  display: inline-block;

  animation: startButtonText 0.6s;
  animation-delay: 1.76s;
  animation-fill-mode: forwards;
  opacity: 0;
}
