.quiz {
  position: absolute;
  right: 36.2rem;
  bottom: 27.5vh;
}

.prefecture {
  margin-bottom: 3vh;
  letter-spacing: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--purple);
}

.kanji {
  letter-spacing: 1rem;
  font-weight: bold;
  font-size: 7rem;
  color: var(--purple);
}

@media (max-height: 800px), (max-width: 1000px) {
  .quiz {
    right: 25.7rem;
    bottom: 26vh;
  }

  .prefecture {
    margin-bottom: 2vh;
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }

  .kanji {
    letter-spacing: 0.5rem;
    font-size: 5rem;
  }
}

@media (max-device-width: 550px) {
  .quiz {
    right: calc(50vw - 25px);
    bottom: 30vh;
  }

  .prefecture {
    margin-bottom: 2vh;
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }

  .kanji {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
