.nav {
  display: inline-block;
  padding-top: 5vh;
}

.progresses {
  display: flex;
  margin: 0.7vh auto;
}

@keyframes animProgress {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotateY(200deg);
  },
  100% {
    opacity: 1;
    transform: translateY(0px) rotateY(0deg);
  }
}

.progress {
  margin: 0.7vh 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--light-gray);

  animation: animProgress 0.8s var(--ease-out-quart);
  animation-delay: 0.96s;
  animation-fill-mode: forwards;
}

.done {
  color: var(--blue);
}

@media (max-height: 800px), (max-width: 1000px) {
  .nav{
    padding-top: 0vh;
    display: inline-block;
  }

  .progresses {
    margin: 3rem auto;
  }

  .progress {
    margin: 0.7vh 1rem;
    font-size: 1.4rem;
  }
}

@media (max-device-width: 550px) {
  .nav {
    display: none;
  }
}
