:root {
  --white:        #FFFFFF;
  --light-purple: #927F9A;
  --purple:       #715A7F;
  --blue:         #395E7C;
  --light-blue:   #FAFDFF;
  --gray:         #666666;
  --light-gray:   #CCCCCC;
  --green:        #72B29B;
  --light-green:  #E4EFEC;
  --orange:       #F38139;
  --pink:         #FA7C7D;

  --mincho:       Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
}
